*
  padding: 0
  margin: 0

.cadastro_C
  color: #46177D
  font-size: 1rem
  position: absolute
  top: 11rem

.logoCad
  height: 7rem
  width: 14rem
  margin-top: 50px

.fundoCad
  display: flex
  flex-direction: center
  justify-content: center
  align-items: center
  height: 100vh
  background-image: url('../img/fundologinTela.svg')
  background-repeat: no-repeat
  background-size: 100%

.Cad_forms-container
  display: flex
  flex-direction: column
  align-items: center
  background-color: white
  height: 50rem
  width: 50rem
  border-radius: 20px

.Cad_titulo-container
  display: flex
  flex-direction: column
  align-items: center
  position: relative

.Cad_forms
  display: flex
  flex-direction: column
  justify-content: center
  width: 60%
  height: 60%
  margin-top: 100px

.Forms_cadField
  margin-bottom: 40px
  display: flex
  flex-direction: column
  border-radius: 50px
  border-block-color: #46177D

.Forms_cadFieldbtnCad
  background-color: #46177D
  padding: 17px
  margin-left: 6rem
  margin-right: 6rem
  border-radious: 50px
