*
    margin: 0
    pading: 0

.corFundoErro
    background: #46177D

.nomeErro
    display: block
    color: white
    font-size: 50px
    margin-left: 200px
    

.fraseErro
    display: block
    color: white
    font-size: 25px
    margin-left: 200px

.fundoErro
    flex-direction: center
    justify-content: center
    align-items: center
    height: 100vh
    background-image: url('../img/fundoErro.png')
    background-repeat: no-repeat
    background-size: 100%
