*
    margin: 0
    padding: 0

.fundoTelaHistorico
    height: 100vh
    background-image: url('../img/fundologinTela.svg')
    background-repeat: no-repeat
    background-size: 100%

.telaHistoricoContainer
    display: flex
    flex-direction: column
    align-items: center
    background-color: white
    height: 737px
    width: 1165px
    border-radius: 20px
    margin-left: 350px
    margin-top: 42px

.palavrasTopo
    font-family: 'Krona One', sans-serif
    font-size: 15px
    color: #46177D
    display: flex

.tabela
    height: 100%
    width: 100%

.tabelaTitulo
    display: flex
    width: 100%
    height: 4rem
    align-items: center
    justify-content: space-evenly

.tabelaCinza
    background-color: #F5F5F5

td
    font-size: 20px
    display: flex
    justify-content: flex-start
    flex: 1
    text-align: justify

