.card
    margin: 0
    padding: 0
    font-family: sans-serif

.map
    height: 100vh

.fundoTelaInicial
    height: 100vh
    background-image: url('../img/fundologinTela.svg')
    background-repeat: no-repeat
    background-size: 100%
    
.telaInicialContainer
    display: flex
    flex-direction: column
    align-items: center
    background-color: white
    height: 737px
    width: 1165px
    border-radius: 20px
    margin-left: 350px
    margin-top: 42px

.wellcomeFrase
    font-family: 'Krona One', sans-serif
    font-size: 32px
    color: #46177D

.textosCima
    font-family: 'Krona One', sans-serif
    font-size: 10px
    color: #46177D
    display: flex

.opcoesCima
    display: flex
    flex-direction: row
    justify-content: space-around
    flex-wrap: nowrap
    gap: 100px

.textoMapa
    font-family: 'Krona One', sans-serif
    font-size: 30px
    color: #46177D
    margin-top: -15px





    

