.card
    margin: 0
    padding: 0
    font-family: sans-serif

.map
    height: 100vh

.fundoTelaInicial
    height: 100vh
    background-image: url('../img/fundologinTela.svg')
    background-repeat: no-repeat
    background-size: 100%
    
.telaInicialContainer
    display: flex
    flex-direction: column
    align-items: center
    background-color: white
    height: 737px
    width: 1165px
    border-radius: 20px
    margin-left: 350px
    margin-top: 42px

.bemVindaHomeFrase
    font-family: 'Krona One', sans-serif
    font-size: 30px
    color: #46177D

.entradaPonto
    font-family: 'Krona One', sans-serif
    font-size: 30px
    color: #46177D
    display: inline-block
    

.saidaPonto
    font-family: 'Krona One', sans-serif
    font-size: 30px
    color: #46177D
    display: inline-block

.corrigirPonto
    font-family: 'Krona One', sans-serif
    font-size: 30px
    color: #46177D
    display: inline-block

