*
    margin: 0
    padding: 0

.logo
    height: 15rem
    width: 15rem
    margin-left: -50px

.Logintela
    display: flex
    flex-direction: center
    justify-content: center
    align-items: center
    height: 100vh
    background-image: url('../img/fundologinTela.svg')
    background-repeat: no-repeat
    background-size: 100%

.Logintela__forms-container
    display: flex
    flex-direction: column
    align-items: center
    background-color: white
    height: 50rem
    width: 50rem
    border-radius: 20px

.Logintela__forms
    display: flex
    flex-direction: column
    justify-content: center
    width: 60%
    height: 60%

.Logintela__titulo-container
    display: flex
    flex-direction: column
    align-items: center
    position: relative

.Logintela_titulo
    font-size: 1rem
    position: absolute
    top: 12rem
    color: #46177D
    font-family: 'Krona One', sans-serif

.Forms_field
    margin-bottom: 40px
    display: flex
    flex-direction: column
    border-block: none
    border: 0px
    width: 30rem

.btnEntrar
    background-color: #46177D
    color: white
    transition-duration: 0.4s
    padding-top: 20px
    padding-bottom: 20px
    font-size: 18px
    border-radius: 100px
    margin-left: 9rem
    margin-right: 9rem
    cursor: pointer


.btnEntrar:hover
    border: 3px solid #46177D
    background-color: white
    color: #46177D 

.btnCadastro
    margin: 0
    padding: 0
    border: 0
    outline: 0
    font-size: 100%
    vertical-align: baseline
    background: transparent
    font-size: 1.2rem
    color: #46177D
    text-decoration: underline
    margin-top: 1rem
    cursor: pointer
