* 
    margin: 0
    padding: 0

.logo
    height: 40%
    width: 40%

.Logintela
    display: flex
    justify-content: space-between 
    height: 100vh

.Logintela__img
    height: 100vh
    flex:1

.Logintela__forms-container
    display: flex
    flex: 1
    flex-direction: column
    justify-content: center
    align-items: center

.Forms_field
    margin-bottom: 15px
    display: flex
    flex-direction: column
    border-radius: 100px

.btnEntrar
    background-color: #46177D

.btnCadastro
    margin: 0
    padding: 0
    border: 0
    outline: 0
    font-size: 100%
    vertical-align: baseline
    background: transparent